body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 350px;
  background: #fff;
  padding: 100px;
  border-radius: 10px;
  border : 2px solid blue;
 
}
form {
    width: 300px;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.block {
    display: none;
}

input{
    width: 100%;
    padding: 8px;
    margin: 10px 0;
} 

select {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
}

button {
    padding: 10px;
    border: none;
    background: deeppink;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.element {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: pink;
    text-align: center;
    line-height: 30px;
}

.element.active {
    background: deeppink;
    color: white;
}

#submit {
    display: none;
    color: #000;
    margin-top: 20px;
    
}