<div class="container py-5">
  <div class="row g-4">

    @for (movie of movies(); track movie.id) {

    <div class="col-sm-6 col-md-4 col-lg-3 d-flex">
      <div class="card shadow-sm w-100 d-flex flex-column">

        <div class="card-img-wrapper">
          <img 
            [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" 
            class="card-img-top"
            alt="Image">
        </div>

        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{movie.original_title}}</h5>

          <p class="card-text">
            Popularity:{{movie.popularity}}
          </p>

        </div>

      </div>
    </div>

    }

  </div>
</div>